/*Google Font Import - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

letra {
	font-family: 'Bungee Spice', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--body-color: #eccc55;
	--sidebar-color: #ffffff;
	--primary-color: #fb4d46;
	--primary-color-light: #F6F5FF;
	--toggle-color: #DDD;
	--text-color: #fb4d46;

	/*========Transition==============*/
	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;
}

body {
	height: 100vh;
	background: var(--body-color);
	transition: var(--tran-04);
}

body.dark {
	--body-color: #18191A;
	--sidebar-color: #242526;
	--primary-color: #3A3B3C;
	--primary-color-light: #3A3B3C;
	--toggle-color: #FFF;
	--text-color: white;
}

/*======Sidebar====*/

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	padding: 10px 14px;
	background: var(--sidebar-color);
	transition: var(--tran-05);
	z-index: 100;
}

.sidebar .image-text img {
	width: 50px;
	height: 50px;
	border-radius: 6px;
	align-items: center;
}

.sidebar header .image-text {
	display: flex;
	align-items: 6px;
}

.sidebar.close {
	width: 88px;
}

/*========Resuable CSS=========*/

.sidebar .text {
	font-size: 12px;
	font-weight: 500;
	color: var(--text-color);
	transition: var(--tran-03);
	white-space: nowrap;
	opacity: 1;
}
.sidebar .texto {
	font-size: 18px;
	font-weight: 500;
	color: var(--text-color);
	transition: var(--tran-03);
	white-space: nowrap;
	opacity: 1;
}

.sidebar.close .text {
	opacity: 0;
}
.sidebar.close .texto {
	opacity: 0;
}

.sidebar .image {
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.sidebar li {
	height: 30px;
	margin-top: 10px;
	list-style: none;
	display: flex;
	align-items: center;
}

.sidebar li .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
	color: var(--text-color);
	transition: var(--tran-02);
}

.sidebar header {
	position: relative;
}


.sidebar .target-text img {
	width: 40px;
	border-radius: 6px;
}

.sidebar header .target-text {
	display: flex;
	align-items: center;
}

header .image-text .header-text {
	display: flex;
	flex-direction: column;
}

.header-text .name {
	font-weight: 600;
}

.header-text .profession {
	margin-top: -2px;
}

.sidebar header .toggle {
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%) rotate(180deg);
	height: 25px;
	width: 25px;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--sidebar-color);
	font-size: 22px;
	transition: var(--tran-03);

}

.sidebar.close header .toggle {
	transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
	color: var(--text-color);
}

.sidebar .menu {
	margin-top: 35px;
}


.sidebar .search-box {
	background: var(--primary-color-light);
	border-radius: 6px;
	transition: var(--tran-05);
}

.search-box input {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	background: var(--primary-color-light);
	transition: var(--tran-05);
	color: var(--text-color);
}

.sidebar li a {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	border-radius: 6px;
	transition: var(--tran-04);
}

.sidebar li a:hover {
	background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
	color: var(--sidebar-color);
}
.text.nav-text .nav-item .nav-link:hover {
    color: rgb(255, 255, 255);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
	color: var(--text-color);
}

.sidebar .menu-bar {
	height: calc(100% - 50px);
	display: block;
	flex-direction: column;
	justify-content: space-between;
}

.menu-bar .mode {
	position: relative;
	border-radius: 6px;
	background: var(--primary-color-light);
	
}

.menu-bar .mode .moon-sun {
	height: 50px;
	width: 60px;
	display: flex;
	align-items: center;

}

.menu-bar .mode i {
	position: absolute;
	transition: var(--tran-03);
}

.menu-bar .mode i.sun {
	opacity: 0;
}

body.dark .menu-bar .mode i.sun {
	opacity: 1;
}

body.dark .menu-bar .mode i.moon {
	opacity: 0;
}


.menu-bar .mode .toggle-switch {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-width: 60px;
	cursor: pointer;
	border-radius: 6px;
	background: var(--primary-color-light);
}

.toggle-switch .switch {
	position: relative;
	height: 22px;
	width: 44px;
	border-radius: 25px;

	background: var(--toggle-color);
}

.switch::before {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50px;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background: var(--sidebar-color);
	transition: var(--tran-03);

}

body.dark .switch::before {
	left: 24px;
}

.home {
	position: relative;
	height: 100vh;
	left: 250px;
	width: 80%;
	/*width: calc(100% - 250px);*/
	background: var(--body-color);
	transition: var(--tran-05);
}


.home .text {
	font-size: 30px;
	font-weight: 500;
	color: var(--text-color);
	padding: 8px 40px;
}

.sidebar.close~.home {
	left: 88px;
	width: 90%;
}



.form-ticket {
	padding: 30px;
	width: 137%;
	margin-top: 4px;
	border-radius: 10px;
	font-family: 'calibri';
	color: rgb(0, 0, 0);
}



.form-ticket h4 {
	font-size: 22px;
	margin-bottom: 20px;
	margin-left: 5px;
	color: brown;
	font-family: 'Bungee Spice', sans-serif;
}


body.dark h2{
	color: #FFF;
}

body.dark .breadcrumb{
	color: #FFF;

}
body.dark .form-label{
	color: #FFF;
}

body.dark .form-control{
	background-color: #000000;
	color: #FFF;
}

/*Cambiar color del / (separador)*/
body.dark .breadcrumb-item+.breadcrumb-item::before {
    color: rgb(255, 255, 255); /* Cambia 'red' por el color que prefieras */
}

/*Cambiar color de active*/
body.dark .breadcrumb-item.active{
	color: rgb(255, 255, 255);
}

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
}

/* Estilos para la clase 'table-bordered' */
.table-bordered {
	border: 1px solid #da4621;
}



/* Estilos adicionales personalizados */
.table-bordered th {
	background-color: #da4621;
	text-align: center;
}

.table-bordered td {
	text-align: center;
}

body.dark .table {
	width: 100%;
	margin-bottom: 1rem;
	color: #640f48;
}

/* Estilos para la clase 'table-bordered' */
body.dark .table-bordered {
	border: 1px solid #ffffff;
}



/* Estilos adicionales personalizados */
body.dark .table-bordered th {
	background-color: #000000;
	color: #FFF;
	text-align: center;
}

body.dark .table-bordered td {
	text-align: center;
	background: #000000;
	color: #FFF;
}



body.dark .text-box {
	width: 100%;
	background: var(--body-color);
	padding: 5px;
	border-radius: 6px;
	color: rgb(196, 64, 64);
	margin-bottom: 9px;
	outline: none;
	border: 2px solid var(--primary-color);
	font-family: 'calibri';
	font-size: 12px;
}



.label {
	color: var(--primary-color);
}

.cboTipo {
	width: 50%;
	background: var(--body-color);
	padding: 5px;
	border-radius: 600px;
	margin-bottom: 9px;
	border: 3px solid var(--primary-color);
	font-family: 'calibri';
	font-size: 16px;
}





.checkbox {
	width: 0%;
	height: 20%;
	margin-left: 25%;
	margin-top: 8px;
}

.form-check {
	width: 0%;
	height: 50%;
	margin-left: 50%;
	margin-top: -3%;
	margin-bottom: -9px;
}









.btnes {

	padding: 3px 10px;
	/* Ajusta según el tamaño deseado */
	color: #fff;
	/* Color del texto del botón */
	background: var(--primary-color);
	border: none;
	/* Elimina el borde del botón */
	border-radius: 7px;
	/* Ajusta según el radio deseado para bordes redondeados */
	margin-top: 2%;
	cursor: pointer;
	text-align: center;
}



.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}